.card

    .card__header.bg-primary.text-white
        h3.fw-800 ${currentDETitle}

    .card-text.px-3
        .row
            .col-md-6
                span.fw-800 Homepage:
                a(href='${currentDEHomepage}' target='_blank' rel="noopener") ${currentDETitle}'s Homepage
                br

                span.fw-800 Github URL:
                a(href='${currentDEGithub}' target='_blank' rel="noopener") ${currentDETitle} on Github
                br
                br


                span.fw-800 Latest Version:
                | ${currentDELatestVersion}
                br

                span.fw-800 Desktop Category:
                | ${currentDECategory}
                br

                span.fw-800 Distros That Feature:
                | ${currentDEdistroFeature}
                br
                br
                span.fw-800 Desktop Requirements:
                ul
                    li
                        span.font-italics Required Processor:
                        | ${currentDEReqProc}
                    li
                        span.font-italics Required Memory:
                        | ${currentDEReqMem}
                    li
                        span.font-italics Required Hard Drive Space:
                        | ${currentDEReqHDD}

            .col-md-6
                a(href="${screenshotDIR}${currentDEScreenshot}" target="_blank")
                    img.d-block.mx-auto.p-4.img-fluid(src="${screenshotDIR}${currentDEScreenshotTN}" alt="{currentDETitle} Screenshot" loading="lazy")

        | ${deVersionsOutput}
        | ${deInstallOutput}
