h4.fw-800 How to Install: 

.pl-3
    .fw-800 How to install ${currentTICThemeName} on Arch 
    code ${archInstall} ${currentTICArchInstall}

    .fw-800 How to install ${currentTICThemeName} on Fedora 
    code ${dnfInstall} ${currentTICFedoraInstall}

    .fw-800 How to install ${currentTICThemeName} on OpenSUSE 
    code ${zypperInstall} ${currentTICOpenSuseInstall}

    .fw-800 How to install ${currentTICThemeName} on Ubuntu 
    code ${ubuntuInstall} ${currentTICUbuntuInstall}
