.fw-800 Gnomelook URL: 
a(href="${currentGnomelookURL}" target="_blank")
| ${currentTICThemeName} on Gnome Look 
br/

.fw-800
a(href="${currentTICGithubURL}" target="_blank")
| ${currentTICThemeName} on Github
br /

.fw-800
a(href="${currentTICDeviantArtURL}" target="_blank")
| ${currentTICThemeName} on DeviantArt
br /